name: Semgrep CI for auth

on:
  push:
    branches: ['main']
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - "main"
    paths-ignore:
      - "**.md"
  workflow_dispatch: {}

permissions:
  contents: read
  security-events: write

jobs:
  semgrep:
    name: semgrep-auth/ci
    runs-on: ubuntu-latest
    container:
      image: semgrep/semgrep

    # Dependabot 제외
    if: (github.actor != 'dependabot[bot]')
    
    steps:
      - uses: actions/checkout@v4
      - name: Run Semgrep(backedn-auth)
        run: semgrep --config=p/java --config=p/security-audit . --sarif --output=semgrep.sarif
      # semgrep 결과 gihub ui로 확인 가능
      - name: Upload SARIF results to GitHub
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: semgrep.sarif